body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: rgb(252, 155, 0);
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
}
main {
    background-color: rgb(143, 218, 193);
}
section {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(143, 185, 234);
}
p.this { 
    font-size: 20px;
    color: #ffffff;
}
ul {
    color: #8A2387;
}
hr {
    height: 4px;
    background-color: rgb(200, 0, 255);
}
article {
    margin: auto;
    width: 50%;
    background-color: rgb(83, 126, 83);
}
span {
    font-size: 20px;
    background-color: rgb(253, 96, 159);
    border-radius: 3px;
    padding-block: 4px;
    padding-inline: 8px;
}
ol {
    color: red;
}
li a {
    color: #cdcbcb;
}
footer {
    margin: auto;
    width: 50%;
}
p {
    color: blue;
}
q {
    color: rgb(236, 147, 13);
}
body {
    background-color: rgb(164, 194, 195);
}